.container{

}

.mainArea{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 100px;
}


@media (min-width:1200px) {
  .mainArea{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}