.container {
    position: fixed;
    padding: 20px 30px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; /* 他の要素の上に表示されるようにする */
}

.amazonIcon {
    display: flex;
    gap: 20px;
}
