.container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 30px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; /* 他の要素の上に表示されるようにする */
}

.cart{
    height: 100%;
    display: flex;

}

.amazonIcon {
    display: flex;
    gap: 20px;
}

/* カートアイコンとハンバーガーメニューの親属性のcss */
.iconArea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartIcon:hover {
    opacity: 0.7;
    cursor: pointer;
}
