.mainArea {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
    background-color: rgba(230, 229, 229, 0.644);
    padding: 25px;
}

.productImg {
    border-radius: 10px;
    width: 80%;

}

.productInfo {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameAndPrice {
    display: flex;
    justify-content: space-between;
}
.productName {
    font-size: 30px;
    word-break: keep-all;
}
.productPrice {
    font-size: 30px;
    word-break: keep-all;
}

.userOperationArea {
    display: flex;
    gap: 30px;
    align-items: end;
}

.deleteArea {
    display: flex;
    color: blue;
    font-size: 20px;
}

.deleteArea:hover {
    opacity: 0.6;
    cursor: pointer;
}
